airdrop-ng==1.1
airgraph-ng==1.1
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
asttokens==2.0.5
backcall==0.2.0
btrfsutil==5.17
CacheControl==0.12.6
catfish==4.16.3
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==37.0.0
cycler==0.11.0
decorator==5.1.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.1
docopt==0.6.2
entrypoints==0.4
executing==0.8.3
fonttools==4.33.3
gufw==22.4.0
html5lib==1.1
idna==3.3
imageio==2.19.3
importlib-metadata==4.8.1
jedi==0.18.1
joblib==1.2.0
jupyter-core==4.10.0
keyutils==0.6
kiwisolver==1.4.2
lensfun==0.3.3
LibAppArmor==3.0.4
libtorrent==2.0.6
lightdm-gtk-greeter-settings==1.2.2
lit==13.0.1.dev0
louis==3.21.0
manjaro-sdk==0.1
Markdown==3.3.7
matplotlib-inline==0.1.3
menulibre==2.2.3
more-itertools==8.12.0
msgpack==1.0.3
mugshot==0.4.3
nest-asyncio==1.5.5
netsnmp-python==1.0a1
networkx==2.8.2
npyscreen==4.10.5
ordered-set==4.0.2
packaging==21.3
pacman-mirrors==4.23.2
parso==0.8.3
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
ply==3.11
progress==1.6
prompt-toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.21.0
pycparser==2.21
Pygments==2.12.0
PyGObject==3.42.1
pyinotify==0.9.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-sip==12.10.1
PyQt6-Qt6==6.3.0
PyQt6-sip==13.3.1
PySide6==6.3.0
pysmbc==1.0.23
python-dateutil==2.8.2
python-distutils-extra==2.39
python-Levenshtein==0.12.2
pytz==2022.1
PyWavelets==1.3.0
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
rados==2.0.0
rbd==2.0.0
regex==2022.4.24
reportlab==3.6.9
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
scikit-learn==1.1.0
scipy==1.8.0
shiboken6==6.3.0
six==1.16.0
stack-data==0.2.0
systemd-python==234
team==1.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2022.5.4
toml==0.10.2
tomli==2.0.1
tornado==6.1
tqdm==4.64.0
traitlets==5.2.1.post0
udiskie==2.4.2
ufw==0.36.1
ulauncher==5.14.4
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
wifite==2.6.0
WoeUSB-ng==0.2.10
wxPython==4.0.7.post2
youtube-dl==2021.12.17
yt-dlp==2022.5.18
zipp==3.8.0
